<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center mb-3">Editar Campamento</h1>

        <div class="col-6 offset-3">
            <form action="/campamentos/<%= campamento._id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label class="form-label" for="titulo"><b>Título</b></label>
                    <input class="form-control" type="text" name="campamento[titulo]" id="titulo"
                        value="<%=campamento.titulo%>">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="ubicacion"><b>Ubicación</b></label>
                    <input class="form-control" type="text" name="campamento[ubicacion]" id="ubicacion"
                        value="<%=campamento.ubicacion%>">
                </div>

                <div class="col-auto">
                    <label class="sr-only" for="precio"><b>Precio</b></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="precio-label">$</div>
                        </div>
                        <input type="number" class="form-control" id="precio" name="campamento[precio]"
                            aria-describedby="precio-label" placeholder="0.0" value="<%=campamento.precio%>">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="imagen"><b>Imagen URL</b></label>
                    <input class="form-control" type="text" name="campamento[imagen]" id="imagen"
                        value="<%=campamento.imagen%>">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="descripcion"><b>Descripción</b></label> <br>
                    <textarea class="form-control" name="campamento[descripcion]" id="descripcion" cols="30"
                        rows="4"><%=campamento.descripcion%></textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info" type="submit">Guardar</button>
                </div>
            </form>
            <div class="mb-3">
                <a href="/campamentos">Todos los campamentos</a>
            </div>
        </div>
    </div>