<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-5">
                <img class="card-img-top" src="<%= campamento.imagen %>"
                    alt="Imagen del campamento <%= campamento.titulo %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campamento.titulo %>
                    </h5>
                    <p class="card-text"><i><%= campamento.descripcion %></i></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">$<%= campamento.precio %>/noche
                    </li>
                    <li class="list-group-item text-muted">
                        <%= campamento.ubicacion %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/campamentos/<%= campamento._id %>/edit" class="card-link btn btn-info">Editar</a>
                    <form action="/campamentos/<%= campamento._id %>?_method=DELETE" method="post" class="d-inline">
                        <button type="submit" class="card-link btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
